.ad{
    background-color: $third-color;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
  
    width: 100%;
    position: relative;
    img{
        object-fit: cover;
     
        width: 40%;
        height: 80%;
        position: absolute;
        right: 0px;
        align-self: center;
    }
    &__info{
        display: flex;
        flex-direction: column;
        width: 60%;
        h2{
         
            text-align: left;
        }
        a{
         
            color: black;
        }
    }
}