.banner{
    width: 100%;
    height: 600px;
    background-image: url("../src/imgBanner.png");
    background-position: center;
    background-size: cover;
    justify-content: center;
}
.banner__info{
    position: relative;
    top: 73%;
    margin: 0px auto;
    color:white;
    text-align: center;
    width: 300px;
    
}

