.banner {
    padding-top: 5%;
    height: 100vh;
    background: linear-gradient(210.51deg, #14145c 19.62%, #04042c 54.04%);
    display: flex;
    &__img {
        
        opacity: 0.8;
    }
    &__explore{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        p{
            transform: rotate(-90deg);
        }
        img{
            margin-top: 50%;
        }
    }
    &__title {
        color: rgba(247, 247, 247, 0.2);
        font-size: 5rem;
        font-family: 'Open Sans', sans-serif;
        line-height: 92.18%;
        font-style: bold;
        font-weight: 800;
    }

    &__info {
        position: relative;
        width: 50%;
        color: white;
        align-self: center;
        
    }
}
