.container__header{
    background-color: black;
}
.icon-menu{
    width: 50px;
    margin: 15px;
    float: right;
    background-color: aqua;
    cursor: pointer;
}
.icon-menu:active ~ .nav{
    transform: translateX(0%);
}
.nav{
    display: inline-block;
	width:75%;
    height: 100%;
    margin-top: 100px;
    position: absolute;
    background: rgba(24, 24, 24, 0.9);
    transform: translateX(-100%);
    &__link{
        text-decoration: none;
        display: block;
        padding: 20px;
        padding-left: 40px;
        color: rgb(255, 255, 255);
        border-bottom: 1px solid rgba(255, 255, 255,0.3);
    }
    &__link:hover{
        background: rgba(255, 255, 255,0.2);
    }
}