.container__header{
    width: 100%;
    z-index: 1;
    height: 100%;
    position: absolute;
}
.icon-menu{
    width: 50px;
    margin: 15px;
    float: right;
    cursor: pointer;
}
.icon-menu:active ~ .nav{
    transform: translateX(40%);
}
.nav{
    display: inline-block;
	width:75%;
    height: 100%;
    padding-top: 100px; 
    margin-top: 0px;
    background: rgba(24, 24, 24, 0.9);
    transform: translateX(-100%);
    &__link{
        text-decoration: none;
        display: block;
        padding: 25px;
        padding-left: 30px;
        color: rgb(255, 255, 255);
        border-bottom: 1px solid rgba(255, 255, 255,0.3);
    }
    &__link:hover{
        background: rgba(255, 255, 255,0.2);
    }
}