$fontsize-mobile: 14px;
$fontsize-web: 15px;
.footer{
    width: 100%;
    min-height: 130px;
    background-color: $secondary-color;
    color: #BABABA;
    display: flex;
    flex-direction: column;
    font-size: $fontsize-mobile;
    @media (min-width: 600px){
        font-size: $fontsize-web;
    }
    
    &__content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__logo-info{
        width: 30%;
        margin: 15px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    &__information{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
        width: 55%;
        border-left:  1px solid #363636;
        padding: 5px 10px;
        height: 80px;
       
        h5{
            display: inline-block;
            
        }
        img{
            width: 20px;
            height: 20px;
        }

    }
    &__social{
        
        display: flex;
        justify-content: space-between;
    }
    &__politics{
        display: flex;
        justify-content: space-between;
    }
    &__button-up {
        width: 15%;
        align-self: center;
        margin: 10px;
        a{
        text-decoration: none;
        color: black;
        align-items: center;
    border: 0px;
    background: rgba(255, 255, 255, 0.95);
    font-weight: bold;
    padding: 0px 10px;
    }
}
    
    p{
        text-align: center;
    }
}