$w: 100%;
$h: 300px;
.gallery{
  
  width: $w;
    height: $h;
    overflow: hidden;
    position: relative;
   &__img{
    display: flex;
    transition: transform .5s ease-in-out;
    margin: 20px;
     img{
    width: $w;
    height: 100px;
    object-fit: cover;
    
     }
   }
    
}


