.header{
    width: 100%;
    z-index: 1;
    position: absolute;
    height: 100px;
    &__logo{
        display: inline-block;
        margin: 20px;
        img{
        width: 120%;
        height: 120%;
        }  
    }
    &__nav{
      
        display: inline-block;
        width:70%;
        height: 100%;
        position: fixed;
        padding-top: 100px; 
        background: rgba(24, 24, 24, 0.9);
        transform: translateX(130%);
        &--mobile {
            
            transform: translateX(30%);
        }
        @media (min-width: $breakpoint-web){
            transform: translateX(-5.6%);
            width: 100%;
            text-align: right;
            background: transparent;
            position: absolute;
            padding-top: 0px; 
            margin-right: 0 auto;
        }
    }
    
    &__link{
        text-decoration: none;
        display: block;
        padding: 25px;
        padding-left: 30px;
        color: rgb(255, 255, 255);
        border-bottom: 1px solid rgba(255, 255, 255,0.3);
        @media (min-width: $breakpoint-web){
            display: inline-block;
            border-bottom: 0px;
        }
    }
    
    &__link:hover{
        background: rgba(255, 255, 255,0.2);
    }
}
.icon-menu{
    width: 50px;
    margin: 15px;
    float: right;
    cursor: pointer;
    z-index: 2;
    position: relative;
    
    
    @media (min-width: $breakpoint-web){
        display: none;
    }
    &--open{
       
        hr:nth-child(2){
            display: none;
        }
        hr:nth-child(1){
            
            transform: rotate(45deg) translateY(10px);
        }
        hr:nth-child(3){
            
            transform: rotate(-45deg) translateY(-10px);
        }
    }
}
.icon-menu hr{
    border: 2px solid white;
    background-color: white;
    margin: 10px auto;
}

