.latestProjects {
    width: 90%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    justify-content: space-between;
    &__a{
        margin-bottom: 5vh;
    }
    &__article {
        position: relative;
        z-index: 1;
       
        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            bottom: 0;
            right: 0;
            background: linear-gradient(0deg, #3e0a9b -14.13%, rgba(62, 10, 155, 0) 73.84%);
        }
        @media (min-width: $breakpoint-web) {
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                z-index: -1;
                position: absolute;
                top: 2%;
                left: 2%;
                border: 1px solid $white-color;
            }
        }
    }
    &__button {
        position: absolute;
        bottom: 0;
    }
    &__info {
        position: absolute;
        padding-left: 5%;
        padding-bottom: 5%;
        color: #ffffff;
        opacity: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h4 {
            color: #ffffff;
            opacity: 0.5;
            font-family: $open-sans;
            font-weight: 300;
            font-size: 18px;
            line-height: 25px;
        }
        h3 {
            font-weight: bold;
            font-size: 24px;
        }
        p {
            font-weight: 300;
            width: 95%;
            line-height: 23px;
        }
    }
    &__thumbnail {
        img {
            width: 100%;
        }
    }
    @media (min-width: $breakpoint-web) {
        justify-content: space-evenly;
        &__article {
            &:hover:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background: linear-gradient(0deg, #3e0a9b -14.13%, rgba(62, 10, 155, 0) 73.84%);
            }

            &:hover:after {
                content: "";
                width: 100%;
                height: 100%;
                z-index: -1;
                position: absolute;
                top: 2%;
                left: 2%;
                border: 1px solid $white-color;
            }
        }

        &__info {
            opacity: 0;
            &:hover {
                opacity: 1;
            }
        }
        &__a {
            
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
            &:hover {
                width: 28%;
                height: 300px;
            }
        }
    }
}
