@import url('https://fonts.googleapis.com/css?family=Rosario&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Rosario;
    font-style: normal;
    font-weight: normal;
  
}
.container{
    display: flex;
    flex-direction: column;
}

@import "container__header";
@import "container__main";
@import "container__footer";

