@import url("https://fonts.googleapis.com/css?family=Rosario&display=swap");
html, body {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Rosario;
  font-style: normal;
  font-weight: normal;
}

.button {
  margin: 15px;
  border: 0px;
  background: rgba(255, 255, 255, 0.95);
  letter-spacing: 0.17em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
}

h2, h3 {
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
}

.header {
  width: 100%;
  z-index: 1;
  position: absolute;
  height: 100px;
}

.header__logo {
  display: inline-block;
  margin: 20px;
}

.header__logo img {
  width: 120%;
  height: 120%;
}

.header__nav {
  display: inline-block;
  width: 70%;
  height: 100%;
  position: fixed;
  padding-top: 100px;
  background: rgba(24, 24, 24, 0.9);
  -webkit-transform: translateX(130%);
          transform: translateX(130%);
}

.header__nav--mobile {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

@media (min-width: 850px) {
  .header__nav {
    -webkit-transform: translateX(-5.6%);
            transform: translateX(-5.6%);
    width: 100%;
    text-align: right;
    background: transparent;
    padding-top: 0px;
    margin-right: 0 auto;
  }
}

.header__link {
  text-decoration: none;
  display: block;
  padding: 25px;
  padding-left: 30px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media (min-width: 850px) {
  .header__link {
    display: inline-block;
    border-bottom: 0px;
  }
}

.header__link:hover {
  background: rgba(255, 255, 255, 0.2);
}

.icon-menu {
  width: 50px;
  margin: 15px;
  float: right;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

@media (min-width: 850px) {
  .icon-menu {
    display: none;
  }
}

.icon-menu--open hr:nth-child(2) {
  display: none;
}

.icon-menu--open hr:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(10px);
          transform: rotate(45deg) translateY(10px);
}

.icon-menu--open hr:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-10px);
          transform: rotate(-45deg) translateY(-10px);
}

.icon-menu hr {
  border: 2px solid white;
  background-color: white;
  margin: 10px auto;
}

.banner {
  width: 100%;
  height: 600px;
  background-image: url("../src/images/imgBanner.png");
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__info {
  position: relative;
  top: 70%;
  margin: 0px auto;
  color: white;
  text-align: center;
  width: 300px;
}

.caracteristics {
  background-color: #EFEFEF;
  text-align: center;
}

.caracteristics__article {
  margin: 0px auto;
  width: 300px;
}

.aptitudes {
  margin: 10px 0px 10px 0px;
}

.aptitudes__article {
  color: black;
  text-align: center;
}

.aptitudes__div {
  background-color: #1A1A1A;
  color: white;
  margin: 10px 0px 10px 0px;
  height: 230px;
  padding: 20px;
}

.aptitudes__div h3 {
  margin-bottom: 20px;
}

.aptitudes__div p {
  margin: 0 auto;
  width: 300px;
}

.aptitudes__div img {
  margin: 15px;
  width: 45px;
  height: 45px;
}

.aptitudes__div .large {
  height: 65px;
}

.gallery {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

.gallery__img {
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 100%;
}

.gallery__img--large {
  height: 100%;
}

.gallery__strip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  width: 100%;
  height: 100%;
}

.gallery__container {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

.gallery__containerImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 150px;
  z-index: 2;
}

.arrow--right {
  right: 0px;
}

.arrow--left {
  left: 0px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.project {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project__content {
  margin: 0px auto;
  z-index: 1;
  width: 80%;
  padding: 10px;
  color: white;
  text-align: center;
}

.project__image {
  margin: 0px auto;
  width: 80%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__background {
  width: 100%;
  height: 80%;
  bottom: 0px;
  position: absolute;
  z-index: -1;
  background-color: #1A1A1A;
}

.project__input {
  width: 100%;
}

.project input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

.project input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: #EFEFEF;
  border-radius: 25px;
  border: 0.1px solid;
}

.project input[type=range]::-webkit-slider-thumb {
  border: 0.1px solid #B8B8B8;
  height: 20px;
  width: 39px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}

.project input[type=range]::-webkit-slider-thumb {
  border: 0.1px solid #B8B8B8;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}

.project input[type=range]:focus::-webkit-slider-runnable-track {
  background: #EFEFEF;
}

.project input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: #EFEFEF;
  border-radius: 25px;
  border: 0.1px solid #B8B8B8;
}

.project input[type=range]::-moz-range-thumb {
  border: 0.1px solid #B8B8B8;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.project input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}

.project input[type=range]::-ms-fill-lower {
  background: #EFEFEF;
  border: 0.1px solid #B8B8B8;
  border-radius: 50px;
}

.project input[type=range]::-ms-fill-upper {
  background: #EFEFEF;
  border: 0.1px solid #B8B8B8;
  border-radius: 50px;
}

.project input[type=range]::-ms-thumb {
  border: 0.1px solid #B8B8B8;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #EFEFEF;
  cursor: pointer;
}

.project input[type=range]:focus::-ms-fill-lower {
  background: #EFEFEF;
}

.project input[type=range]:focus::-ms-fill-upper {
  background: #EFEFEF;
}

.ad {
  background-color: #EFEFEF;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 450px;
}

.ad img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.newsletter {
  background-image: url("../src/images/newsletter-bg.png");
  background-position: center;
  background-size: cover;
  min-height: 130px;
}

.newsletter__rect {
  margin: 0px auto;
  width: 80%;
  padding: 20px;
  background-color: #EFEFEF;
  color: #2E2E2E;
  text-align: center;
}

.newsletter__rect input {
  background: #FFFFFF;
  border: 1px solid rgba(47, 47, 47, 0.43);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 72%;
}

.newsletter__rect h2 {
  text-transform: none;
  color: black;
}

.newsletter__rect p {
  margin-bottom: 10px;
}

.newsletter__rect button {
  background: #0E0E0E;
  border: 1px solid rgba(47, 47, 47, 0.43);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  padding: 10px;
}

.footer {
  width: 100%;
  min-height: 130px;
  background-color: #050505;
  color: #BABABA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}

@media (min-width: 600px) {
  .footer {
    font-size: 15px;
  }
}

.footer__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo-info {
  width: 30%;
  margin: 15px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
  width: 55%;
  border-left: 1px solid #363636;
  padding: 5px 10px;
  height: 80px;
}

.footer__information h5 {
  display: inline-block;
}

.footer__information img {
  width: 20px;
  height: 20px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__politics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__button-up {
  width: 15%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 10px;
}

.footer__button-up a {
  text-decoration: none;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px;
  background: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  padding: 0px 10px;
}

.footer p {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */