@import url('https://fonts.googleapis.com/css?family=Rosario&display=swap');

$primary-color: #1A1A1A;
$secondary-color: #050505;
$third-color: #EFEFEF;
$breakpoint-web: 1024px;

html,body{
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Rosario;
    font-style: normal;
    font-weight: normal;
  
}
.button{
    margin: 15px;
    border: 0px;
    background: rgba(255, 255, 255, 0.95);
    letter-spacing: 0.17em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
}
h2,h3{
    font-weight: bold;
        margin-bottom: 5px;
        text-transform: uppercase;
        text-align: center;
}

@import 'header';
@import 'banner';
@import 'caracteristics';
@import 'aptitudes';
@import 'gallery';
@import 'project';
@import 'ad';
@import 'newsletter';
@import 'footer';

