@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;700&display=swap");
html,
body {
  position: relative;
  scroll-behavior: smooth;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(53.13%, rgba(4, 4, 44, 0)), color-stop(69.58%, #151568), color-stop(90.7%, #151568), to(rgba(21, 21, 104, 0)));
  background: linear-gradient(180deg, rgba(4, 4, 44, 0) 53.13%, #151568 69.58%, #151568 90.7%, rgba(21, 21, 104, 0) 100%);
  background-color: #04042c;
  z-index: 1;
}

#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
}

button {
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  background-color: transparent;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 0.9em;
}

button:hover {
  background-color: #72c5e4;
  color: #04042c;
  border: 1px solid #04042c;
}

a {
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
}

input,
textarea {
  background: rgba(247, 247, 247, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: none;
  padding: 8px 0px 8px 14px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
}

input::placeholder,
textarea::placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
}

/* h2{
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
} */
p {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
}

.sectionTitle {
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 2em;
}

.sectionTitle h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  line-height: 84.18%;
  opacity: 0.8;
  color: transparent;
  -webkit-text-stroke: 1px rgba(114, 197, 228, 0.4);
}

.sectionTitle h2 {
  font-weight: bold;
  font-size: 72px;
  line-height: 94px;
  color: rgba(247, 247, 247, 0.8);
  margin-top: -0.4em;
  margin-left: 1em;
}

.sectionTitle h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  text-align: right;
  text-transform: none;
  color: #ffffff;
  opacity: 0.5;
  margin-top: -2em;
  margin-right: 4.5em;
}

.projectDecoration {
  width: 100%;
  height: 40vh;
  z-index: -1;
  background-image: url("../src/images/planetsProject.png");
  background-position: center;
  background-size: cover;
}

.aboutMeDecoration {
  width: 100%;
  height: 70vh;
  z-index: -5;
  margin: -5em 0 -10em;
  background-image: url("../src/images/aboutMePlanets.png");
  background-position: center;
  background-size: cover;
  opacity: .8;
}

.contactDecoration {
  position: absolute;
  width: 100%;
  height: 90vh;
  z-index: -1;
  bottom: 0;
  background-image: url("../src/images/contactPlanets.png");
  background-position: center;
  opacity: .8;
}

.bgGalaxy {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  mix-blend-mode: color-dodge;
  opacity: 0.5;
  background-image: url("../src/images/bgGalaxy.jpg");
  background-position: center;
  background-size: cover;
}

.bannerDecoration {
  position: absolute;
  width: 100%;
  height: 100vh;
  padding-top: 5%;
}

.bannerDecoration__planets {
  position: absolute;
  right: 0;
}

.bannerDecoration__stars {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header {
  width: 100%;
  z-index: 1;
  position: absolute;
  height: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4em 0 4.5em;
}

.header__logo {
  display: inline-block;
}

.header__nav {
  justify-self: flex-end;
  /*  display: inline-block; */
  /* width:70%;
        height: 100%; */
  /* &--mobile {
            
            transform: translateX(30%);
        } */
  /* @media (min-width: $breakpoint-web){
            transform: translateX(-5.6%);
            width: 100%;
            text-align: right;
            background: transparent;
            position: absolute;
            padding-top: 0px; 
            margin-right: 0 auto;
        } */
}

.header__link {
  text-decoration: none;
  display: block;
  padding: 25px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media (min-width: 1024px) {
  .header__link {
    display: inline-block;
    border-bottom: 0px;
  }
}

.icon-menu {
  width: 50px;
  margin: 15px;
  float: right;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

@media (min-width: 1024px) {
  .icon-menu {
    display: none;
  }
}

.icon-menu--open hr:nth-child(2) {
  display: none;
}

.icon-menu--open hr:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(10px);
          transform: rotate(45deg) translateY(10px);
}

.icon-menu--open hr:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-10px);
          transform: rotate(-45deg) translateY(-10px);
}

.icon-menu hr {
  border: 2px solid white;
  background-color: white;
  margin: 10px auto;
}

.banner {
  padding-top: 5%;
  height: 100vh;
  background: linear-gradient(210.51deg, #14145c 19.62%, #04042c 54.04%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__img {
  opacity: 0.8;
  margin-left: 3%;
}

.banner__explore {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 1.5em;
}

.banner__explore p {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
}

.banner__explore img {
  margin-top: 50%;
}

.banner__title {
  color: rgba(247, 247, 247, 0.2);
  font-size: 5.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 92.18%;
  font-style: bold;
  font-weight: 800;
  margin-left: -.3rem;
}

.banner__info {
  position: absolute;
  right: 0;
  -ms-flex-item-align: center;
      align-self: center;
  width: 50vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
}

.latestProjects {
  /* text-align: center;
    a{
        color: black;
    }
    &__article{
        margin: 0px auto;
        width: 70%;
        padding: 10px;
        img{
            width: 50px;
            height: 50px;
            margin: 10px;
        }
       
       
    } */
}

@media (min-width: 1024px) {
  .latestProjects {
    width: 100%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    color: white;
    text-decoration: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .latestProjects__a {
    width: 27%;
    height: 298px;
    position: relative;
  }
  .latestProjects__a img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .latestProjects__a:hover {
    width: 28%;
    height: 300px;
  }
  .latestProjects__article {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .latestProjects__article:hover:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(-14.13%, #3E0A9B), color-stop(73.84%, rgba(62, 10, 155, 0)));
    background: linear-gradient(0deg, #3E0A9B -14.13%, rgba(62, 10, 155, 0) 73.84%);
  }
  .latestProjects__article:hover:after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 2%;
    left: 2%;
    border: 1px solid #f7f7f7;
  }
  .latestProjects__info {
    position: absolute;
    padding-left: 5%;
    padding-bottom: 5%;
    color: #ffffff;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .latestProjects__info h4 {
    color: #ffffff;
    opacity: 0.5;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
  }
  .latestProjects__info h3 {
    font-weight: bold;
    font-size: 24px;
  }
  .latestProjects__info p {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
  }
  .latestProjects__info:hover {
    opacity: 1;
  }
  .latestProjects__button {
    position: absolute;
    bottom: 0;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: .4;
  padding-bottom: 3em;
  position: relative;
  margin: 8em 4em 0 4.5em;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.footer__social img {
  width: 35px;
}

@media (min-width: 1024px) {
  .footer {
    height: 20vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__content {
    border-left: 1px solid #f7f7f7;
    height: 6em;
    padding-left: 2.5em;
    margin-left: 2.5em;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__logo {
    width: 10%;
  }
  .footer__button-up {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: center;
        align-self: center;
    right: 0;
  }
  .footer__button-up a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__button-up a img {
    width: 10px;
    height: 10px;
    margin-left: .5em;
  }
}

@media (min-width: 1024px) and (min-width: 1024px) {
  .footer__button-up a img {
    width: 20px;
    height: 20px;
  }
}

.aboutMeSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 4.5em 0 4.5em;
  z-index: 25;
}

@media (min-width: 1024px) {
  .aboutMeSection__info {
    width: 70%;
    height: 45vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .aboutMeSection__info h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 56px;
    font-size: 30px;
    color: #ffffff;
    opacity: 0.5;
    margin-bottom: 1em;
  }
  .aboutMeSection__info p {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 1em;
  }
  .aboutMeSection__img {
    margin-top: -2%;
  }
  .aboutMeSection__button {
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 1024px) {
  .contactMeSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactMeSection__form {
    width: 30%;
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    padding-right: 55px;
    margin-right: 55px;
    border-right: 1px solid rgba(247, 247, 247, 0.5);
  }
  .contactMeSection__form button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .contactMeSection__info {
    opacity: .8;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.contactInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactInformation h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.contactInformation img {
  margin-right: 20px;
}

/*@import 'aptitudes';
@import 'gallery';
@import 'project';
@import 'ad';
@import 'newsletter';
  */
/*# sourceMappingURL=main.css.map */